.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-center {
  display: flex;
  justify-content: center;
}

.u-section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.file-viewer {
  border-top: solid 1px rgb(22, 136, 202, 0.8);
  border-left: solid 1px rgb(22, 136, 202, 0.8);
  border-right: solid 1px rgb(22, 136, 202, 0.4);
  border-bottom: solid 1px rgb(22, 136, 202, 0.4);

  padding: 10px 5px;
  min-width: 320px;
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
  cursor: default;
  box-shadow: 1px 1px red 5px;
}
